h1{
    background-color: #ece8e8;
    text-align: center;
    color: #000000;
}
#skyblue_01{
    background-color: #008DE0;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}
#skyblue_02{
    background-color: #0495E7;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}
#skyblue_03{
    background-color: #03A0E4;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}
#skyblue_04{
    background-color: #34AAE7;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}
#skyblue_05{
    background-color: #59B7F2;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}
#skyblue_06{
    background-color: #73C6F6;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}
#skyblue_07{
    background-color: #8FCDF6;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}
#green{
    background-color: #00BD89;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}
#lightpink_01{
    background-color: #F2B5CE;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}
#lightpink_02{
    background-color: #F69EC0;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}
#lightpink_03{
    background-color: #F68CB5;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}
#lightpink_04{
    background-color: #F67BA9;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}
#lightpink_05{
    background-color: #F06B98;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}
#lightpink_06{
    background-color: #F95C91;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}
#lightpink_07{
    background-color: #F23F82;
    color: #ffffff;
    margin: 0%;
    padding: 0%;
}